---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Componentes - Astro Docs">
  <h1 class="text-4xl font-bold mb-4">Componentes</h1>
  <p class="text-gray-400">Documentación de componentes</p>
</Layout>
